.shop-container {
    background-color: rgba(60, 60, 60, 0.8);
    height: 90vh;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.shop-item-icon {
    width: 100px;
}